# Data Science Tools and Ecosystem

# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**  

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Explore open-source development tools for Data Science  
- Perform basic arithmetic operations in Python  
- Convert minutes to hours using Python expressions

# Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

# Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow  
6. PyTorch

# Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook  |
| RStudio           |
| Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python.

- **Addition:** `3 + 5 = 8`  
- **Subtraction:** `10 - 4 = 6`  
- **Multiplication:** `6 * 7 = 42`  
- **Division:** `20 / 5 = 4.0`
- **Exponentiation:** `2 ** 3 = 8`  
- **Modulo:** `10 % 3 = 1`

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author  
Sachin